.mainPage {
    background: linear-gradient(180deg, #0055ff 0%, rgb(0, 153, 255) 100%);
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 0.9fr 2.5fr 0.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
            "leftBar content rightBar";

}
