.profilePage {
    margin: 20px 5px 5px;
    text-align: center;
    align-self: center;
    background-color: white;
    width: auto;
    border-radius: 13px;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr;
    padding: 20px 20px 10px;
    grid-template-areas: "profilePhoto profileOptions profileInfo" "profileBtn profileBtn profileBtn";

}

.profilePhoto {
    grid-area: profilePhoto;
    border-radius: 100px;
    width: 180px;
    height: 180px;
    place-self: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.profilePhoto:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}

img {
    width: 180px;
    border-radius: 100px;
}

.profileOptions {
    text-align: right;
    grid-area: profileOptions;
}

.profileInfo {
    grid-area: profileInfo;
}

.profileBtn {
    align-self: center;
    grid-area: profileBtn;
}